:root{
    --box1: #f8f8f8;
    --box2: #8493C4;
  }
  body{
    background-color: var(--box2);

  }
.container{
    max-width: 960px;
    background-color: var(--box2);
    color: black;
}
h1{
    text-align:center;
}
.tab-content{
    padding: 8px;
    background-color: var(--box1);
    box-shadow: 10px 5px 5px black;
    border-radius: 0 0 1em 1em;

}
#nav-tabContent img{
    width: 150px;
}
.nav-link{
    color: black;

}
.nav-link:hover{
    color: yellow;
}
.nav-link.active{
    font-style: italic;
    font-weight: bold;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: black;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    background-color: var(--box1);
    border-radius: 1em 1em 0 0 ;
}
.nav-item{
    padding: 8px 3px 3px 3px;
}
@media (max-width: 600px) {
    .nav-item{
      background-color: yellow;
    }
  }
