nav{
    width: 70%;
    margin: 0 auto;
}
.tab-content{
    width: 70%;
    margin: 0 auto;
    padding: 8px;
}
#nav-datosPersonales{
    margin-top: 10px;
}
.dividir{
    display: inline-block;
}